.Animation-path {
	border-radius: 50%;
	border: 0.1rem dashed rgba(45, 61, 76, 0.75);

	background: radial-gradient(50% 50% at 50% 50%, rgba(15, 31, 46, 0.00) 0%, rgba(15, 31, 46, 0.5) 100%);
	box-shadow: 0px 0px 200px 200px rgba(15, 31, 46, 0.5);

	height: 25rem;
	width: 25rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.particle {
	background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #0F1F2E 100%);
	box-shadow:  0px 0px 100px 100px rgba(15, 31, 46, 0.75);

	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	position: absolute;
}