.App {
    background-color: #070F2B;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #9290C3;
    font-size: 12px;

}

.header, 
.footer {
    height: 200px;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px red solid;
}

.body {
    height: calc(100vh - 400px);
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.display-container {
    height: 100%;
    width: calc(50% - 1px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

    .chat-buttons {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: calc(50vh + 40px);

    }

}

.divider-container {
    height: 100%;
    width: 2px;

    background-color: #535C91;
    border-radius: 1px;
}

.input-container {
    height: 100%;
    width: calc(50% - 1px);
}

@media only screen and (max-width: 786px) {
    .body {
        flex-direction: column;
    }

    .display-container {
        height: 40vh;
        width: 100vw;
    }

    .divider-container {
        display: none;
    }

    .input-container {
        height: 60vh;
        width: 100vw;
    }
}

/* helper css */

.hidden {
    display: none;
}

.primary_button {
    background-color: rgba(83,92,145,0.25);
    border: 1px rgb(255, 255, 255, 0.18) solid;
    
    color: #9290C3;
    font-size: 1rem;
    padding: 10px 20px 10px 20px;
    margin: 10px 0px 10px 0px;
    border-radius: calc(0.5rem + 10px);

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);

    transition: background-color 800ms linear;
    transition: box-shadow 200ms linear;;
}
.primary_button:hover {
    cursor: pointer;
    background-color: rgba(83,92,145,0.50);
    box-shadow: 0px 0px 32px 8px rgba(83, 92, 145, 0.25);
}

.secondary_button {
    background-color: transparent;

    color: #535C91;
    font-size: 0.85rem;
    padding: 10px 20px 10px 20px;

    border: none;
}
.secondary_button:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* animations */

.slideIn {
    opacity: 0;
    transform: translateY(100px);
    animation: slideIn 500ms ease forwards;
} 
@keyframes slideIn {
    from    { transform: translateY(100px); opacity: 0; }
    to      { transform: translateY(0px); opacity: 1; }
}