.App {
	background: #050B10;
	height: 200vh;
	overflow-x: hidden;
}

/* #region header */

.App-header {
	position: fixed;
	top: 20px;

	padding-left: 20px;
	width: calc(100% - 40px);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.App-downloads {
	gap: 10px;

	display: flex;
	flex-direction: row;
}

.App-downloads button {
	margin: 0;
	padding: 2px 10px;
	width: 100px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background: transparent;
	border: 1px white solid;

	cursor: pointer;
	opacity: 0.5;
	transition: 250ms ease-in-out;
}

.App-downloads button:hover {
	opacity: 1;
	box-shadow: 0px 0px 120px 80px rgba(15, 31, 46, 0.50);
	background: radial-gradient(50% 50% at 50% 50%, rgba(15, 31, 46, 0.00) 0%, rgba(15, 31, 46, 0.50) 100%);
	transform: scale(1.05);
}

.App-downloads button p,
.App-downloads button .icon {
	color: white;
	font-size: 0.75rem;
}

.App-media {
	gap: 24px;

	display: flex;
	flex-direction: row;
}

.App-media .icon {
	color: white;
	font-size: 1.5rem;
	
	cursor: pointer;
	opacity: 0.5;
	transition: 250ms ease-in-out;
}

.App-media .icon:hover {
	opacity: 1;
	box-shadow: 0px 0px 120px 80px rgba(15, 31, 46, 0.50);
	background: radial-gradient(50% 50% at 50% 50%, rgba(15, 31, 46, 0.00) 0%, rgba(15, 31, 46, 0.50) 100%);
	transform: scale(1.05);
}

/* #endregion */

/* #region body */

.App-body {
	position: fixed;

	height: 100vh;
	width: 100vw;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* #endregion */